{
  "http_interactions": [
    {
      "recorded_at": "2019-09-04T11:44:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/categories?max=2&offset=0"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":1,\"name\":\"Deportes\",\"depth\":1,\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-deportes/ca1\",\"events_count\":23976,\"entity_type\":\"CATEGORY\",\"title\":\"Entradas Deportes | StubHub Espa\u00f1a\",\"leaf\":false,\"image\":\"http://s3-eu-west-1.amazonaws.com/tb-qa2-statics/categoria/1.jpg\",\"ticketbis_only\":false,\"sh_image\":{\"resource_url\":\"https://ssli.ebayimg.com/images/g/~c8AAOSwujBZyoUS/\",\"guid\":\"~c8AAOSwujBZyoUS\",\"author\":\"Getty\",\"cdn_url\":\"https://ssli.ebayimg.com/images/g\"}},{\"id\":2,\"name\":\"M\u00fasica\",\"depth\":1,\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-musica/ca2\",\"events_count\":39394,\"entity_type\":\"CATEGORY\",\"title\":\"Entradas M\u00fasica | StubHub Espa\u00f1a\",\"leaf\":false,\"image\":\"http://s3-eu-west-1.amazonaws.com/tb-qa2-statics/categoria/2.jpg\",\"ticketbis_only\":false}]"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Stubhub-International-dye": [
            "78953e91-10cb-4aa9-aa1b-37aa83a5343d"
          ],
          "X-ticketbis-Media-Type": [
            "application/json"
          ],
          "X-ticketbis-message": [
            "List of Category resources"
          ],
          "X-ticketbis-pageMaxSize": [
            "2"
          ],
          "X-ticketbis-pageOffset": [
            "0"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ],
          "X-ticketbis-totalCount": [
            "76176"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://buscaticket.com.qa2.sh-env.net/api/categories?max=2&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}