{
  "http_interactions": [
    {
      "recorded_at": "2019-09-04T11:44:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/events?max=2&offset=0"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":877217,\"name\":\"Harry Potter and the Cursed Child London (Part 1 & 2)\",\"title\":\"Entradas Harry Potter and the Cursed Child London (Part 1 & 2) | 04/09/2019 | StubHub Espa\u00f1a\",\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-harry-potter-and-the-cursed-child-london-part-1-and-2/ev877217\",\"affiliate_url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-harry-potter-and-the-cursed-child-london-part-1-and-2/ev877217/fix\",\"market_type\":\"SECONDARY\",\"date\":\"2019-09-04T12:55:00Z\",\"localized_date\":\"04/09/2019-13:55\",\"updated_time\":\"2019-07-13T04:18:45Z\",\"timezone\":\"Europe/London\",\"image\":\"http://s3-eu-west-1.amazonaws.com/tb-qa2-statics/categoria/11246.jpg\",\"min_price\":{\"amount\":334.83,\"currency\":\"EUR\"},\"min_listing_price\":{\"amount\":334.83,\"currency\":\"EUR\"},\"external_platform\":null,\"details\":null,\"on_sale_date\":\"2018-12-06T16:00:00Z\",\"lastminute\":false,\"shipment_deadline\":\"2019-09-04T12:55:00Z\",\"pum_deadline\":\"2019-09-04T12:55:00Z\",\"lmsInstructions\":null,\"ticketbis_only\":false},{\"id\":877120,\"name\":\"Harry Potter and the Cursed Child London (Part 1)\",\"title\":\"Entradas Harry Potter and the Cursed Child London (Part 1) | 04/09/2019 | StubHub Espa\u00f1a\",\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-harry-potter-and-the-cursed-child-london-part-1/ev877120\",\"affiliate_url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-harry-potter-and-the-cursed-child-london-part-1/ev877120/fix\",\"market_type\":\"SECONDARY\",\"date\":\"2019-09-04T13:00:00Z\",\"localized_date\":\"04/09/2019-14:00\",\"updated_time\":\"2019-07-13T04:17:06Z\",\"timezone\":\"Europe/London\",\"image\":\"http://s3-eu-west-1.amazonaws.com/tb-qa2-statics/categoria/11246.jpg\",\"min_price\":null,\"min_listing_price\":null,\"external_platform\":null,\"details\":null,\"on_sale_date\":\"2018-12-06T15:30:00Z\",\"lastminute\":false,\"shipment_deadline\":\"2019-09-04T13:00:00Z\",\"pum_deadline\":\"2019-09-04T13:00:00Z\",\"lmsInstructions\":null,\"ticketbis_only\":false}]"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Stubhub-International-dye": [
            "227c9e02-40b5-4b0b-88a0-71619cc9182d"
          ],
          "X-ticketbis-Media-Type": [
            "application/json"
          ],
          "X-ticketbis-message": [
            "List of Event resources"
          ],
          "X-ticketbis-pageMaxSize": [
            "2"
          ],
          "X-ticketbis-pageOffset": [
            "0"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ],
          "X-ticketbis-totalCount": [
            "127210"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://buscaticket.com.qa2.sh-env.net/api/events?max=2&offset=0"
      }
    },
    {
      "recorded_at": "2019-09-04T11:44:21",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/events/877217"
[...]
