{
  "http_interactions": [
    {
      "recorded_at": "2019-09-04T11:44:28",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/venues/1/schemas"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":1,\"name\":\"Estadio de San Mam\u00e9s-esquema f\u00fatbol- LIGA BUENO\",\"static_image\":null,\"dynamic_image\":\"https://d3l13i8idnuwnd.cloudfront.net/map/1573.svg\",\"venue_schema_id\":1573,\"general_admission\":false,\"venue\":{\"id\":1,\"name\":\"Estadio de San Mam\u00e9s\",\"city\":{\"id\":1,\"latitude\":43.2630051,\"longitude\":-2.9349915,\"name\":\"Bilbao\",\"country\":\"Espa\u00f1a\",\"countryCode\":\"ES\",\"slug\":\"entradas-bilbao\",\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-bilbao/ct1\"},\"address\":\"15 Calle de Bri\u00f1as, Bilbao, PV 48013\",\"country\":\"Espa\u00f1a\",\"country_code\":\"ES\",\"latitude\":43.2623200,\"longitude\":-2.9480000}},{\"id\":272,\"name\":\"Estadio de San Mames - Concierto-esquema\",\"static_image\":\"https://s3-eu-west-1.amazonaws.com/tb-qa2-statics/esquema/272\",\"dynamic_image\":null,\"venue_schema_id\":null,\"general_admission\":false,\"venue\":{\"id\":1,\"name\":\"Estadio de San Mam\u00e9s\",\"city\":{\"id\":1,\"latitude\":43.2630051,\"longitude\":-2.9349915,\"name\":\"Bilbao\",\"country\":\"Espa\u00f1a\",\"countryCode\":\"ES\",\"slug\":\"entradas[...]
