{
  "http_interactions": [
    {
      "recorded_at": "2019-09-04T11:44:32",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/sites/1"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"id\":1,\"locale\":\"es_ES\",\"brandName\":\"StubHub\",\"companyName\":\"eBay\",\"mixpanelActive\":false,\"layout\":\"stubhub\",\"logoName\":\"stubhub\",\"name\":\"ticketbisES\",\"url\":\"http://intl.stubhub.es.qa2.sh-env.net\",\"secure_url\":\"https://secure.stubhub.es.qa2.sh-env.net\",\"country\":{\"id\":10,\"name\":\"Espa\u00f1a\",\"a2\":\"ES\",\"timezone\":\"Europe/Madrid\",\"currency\":\"EUR\"},\"emailSender\":\"no-reply@stubhub.es\",\"brokerCustomerServiceEmail\":\"topsellers@stubhub.es\",\"customerServiceEmail\":\"contacto@stubhub.es\",\"hidden\":true}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Stubhub-International-dye": [
            "9834d639-dd71-42d8-ac3d-18b5e922e2e7"
          ],
          "X-ticketbis-Media-Type": [
            "application/json"
          ],
          "X-ticketbis-message": [
            "Details for the site resource"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://buscaticket.com.qa2.sh-env.net/api/sites/1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}