{
  "http_interactions": [
    {
      "recorded_at": "2019-09-04T11:44:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Basic <AUTH_TOKEN>"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ]
        },
        "method": "GET",
        "uri": "https://buscaticket.com.qa2.sh-env.net/api/venues?max=2&offset=0"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "[{\"id\":1,\"name\":\"Estadio de San Mam\u00e9s\",\"city\":{\"id\":1,\"latitude\":43.2630051,\"longitude\":-2.9349915,\"name\":\"Bilbao\",\"country\":\"Espa\u00f1a\",\"countryCode\":\"ES\",\"slug\":\"entradas-bilbao\",\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-bilbao/ct1\"},\"address\":\"15 Calle de Bri\u00f1as, Bilbao, PV 48013\",\"country\":\"Espa\u00f1a\",\"country_code\":\"ES\",\"latitude\":43.2623200,\"longitude\":-2.9480000},{\"id\":6,\"name\":\"WiZink Center (Palacio de los Deportes)\",\"city\":{\"id\":5556,\"latitude\":40.4167047,\"longitude\":-3.7035825,\"name\":\"Madrid\",\"country\":\"Espa\u00f1a\",\"countryCode\":\"ES\",\"slug\":\"entradas-madrid\",\"url\":\"https://intl.stubhub.es.qa2.sh-env.net/entradas-madrid/ct5556\"},\"address\":\"Avenida Felipe II, s/n, 28009 Madrid Spain, Madrid, MAD 28009\",\"country\":\"Espa\u00f1a\",\"country_code\":\"ES\",\"latitude\":40.4239600,\"longitude\":-3.6742200}]"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Stubhub-International-dye": [
            "45d5f7aa-70d6-4955-8aee-0bbfe83b998a"
          ],
          "X-ticketbis-Media-Type": [
            "application/json"
          ],
          "X-ticketbis-message": [
            "List of Venue resources"
          ],
          "X-ticketbis-pageMaxSize": [
            "2"
          ],
          "X-ticketbis-pageOffset": [
            "0"
          ],
          "X-ticketbis-site": [
            "ticketbisES"
          ],
          "X-ticketbis-totalCount": [
            "28789"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://buscaticket.com.qa2.sh-env.net/api/venues?max=2&offset=0"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}